{% extends 'base_social.html' %}
{% load static %}
{% load crispy_forms_tags %}


{%block main%}

{% if request.user.is_authenticated %}
<!-- Section formulário de publicação -->
<section  class="hero">
  <div class="container">
   <div class="row">	
    <div class="col-lg-6 offset-lg-3">  
     <div class="cardbox shadow-lg bg-white">    
      <div class="cardbox-heading">
       <div class="media m-0">
        <div class="d-flex mr-3">
         <a href="#"><img class="img-fluid rounded-circle" src="{%static 'img/avatar.png' %}"alt="{{user.user}}"></a>
        </div>
        <div class="media-body">
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#staticBackdrop">
          Faça uma publicação</button>
<!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crie uma Publicação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="post" action="">
                  {% csrf_token %}
                  <div class="input-group">
                    {{ form.conteudo|as_crispy_field }}
                    {{ form.foto|as_crispy_field }}
                  </div>               
              </div>
              <div class="modal-footer">
                <button class="btn btn-success" type="submit" name="post">Publicar</button>
              </div>
            </form>
            </div>
          </div>
        </div>
         
        </div>
       </div><!--/ media -->
      </div><!--/ cardbox-heading -->  
   </div><!--/ row -->
  </div><!--/ container -->
 </section>

<!-- Todos os posts que foram feitos -->

    <section style="padding: 1px;" class="hero">
        {%for post in posts%}
        <div class="container">
         <div class="row">	
         
          <div class="col-lg-6 offset-lg-3">
           
           <div class="cardbox shadow-lg bg-white">
            
            <div class="cardbox-heading" style="border-bottom: 1px solid #ccc;">
        
             <div class="media m-0">
              <div class="d-flex mr-3">
               <a href="#"><img class="img-fluid rounded-circle" src="{{post.usuario.foto.url}}" alt="{{post.usuario}}"></a>
              </div>
              <div class="media-body">
               <span class="m-0">{{post.usuario}}</span>
               <small><p><i class="icon ion-md-time"></i>{{post.data}}</p></small>
              </div>
               <div class="dropdown mr-1">
                <span class="d-flex justify-content-end dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'social:editar-post' post.id %} ">Editar</a>
                  <a class="dropdown-item" href="{% url 'social:deletar-post' post.id %}">Excluir</a>
                  
                </div>
                  <a class="dropdown-item" href="{% url 'social:editar-post' post.id %} ">Editar</a>
              </div>
             </div><!--/ media -->
            </div><!--/ cardbox-heading -->
            <div class="cardbox-item"style="padding: 10px;">
                <p class="card-text">{{post.conteudo|linebreaks}} </p>
            </div><!--/ cardbox-item --> 

            {% if post.foto %}
            <div class="cardbox-item">
             <img class="img-fluid" src="{{post.foto.url}}" alt="Image">
            </div><!--/ cardbox-item -->
            {%endif%}
            <div class="cardbox-item" style="padding: 10px;">

            
              <span class="card-text"><button class="btn btn-success">Like</button></span>
              <button type="button" class="btn btn-outline-success">
                <a href="{%url 'social:comentar_post' post.id%}">Comentar</a></button>
      <!-- Modal -->
              
          </div><!--/ cardbox-item --> 
         </div><!--/ row -->
        </div><!--/ container -->

        {%for comentarios in comentarios%}
        <p>{{comentarios.user}}</p>
        {%endfor%}

        {% endfor %}
       </section>

  {%endif%}
      
{%endblock%}