*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #8fc38a;
}

.container-sm{
    max-width: 1250px;
}

.pesquisa:hover{
   color: greenyellow; 
}

.btn-outline-success:hover{
    background-color: #8fc38a;
}