{% extends "base.html" %} {% load static %} {% block title %}Infocode | Contato{% endblock %} {% block main %}


<div class="container">
    <h1 style="padding: 25px;" class="text-center">Entre em contato com nossa equipe</h1>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <div class="media m-0"  style="border-bottom: 1px solid #ccc; padding: 10px;">
                <div class="d-flex mr-3">               
                    <a href="#"><img class="img-fluid rounded-circle" src="{%static 'img/antonio.jfif'%}" alt=""></a>              
                </div>
                <div class="media-body">
                    <span class="m-0"> <a href="">Antonio Bruno Kremer Lamim</a> </span>
                    <small><p><i class="icon ion-md-time"></i>Desenvolvedor</p></small>
                </div>
            </div>
            <div class="card-body">
              <small class="card-text"><i style="padding: 5px;" class="bi bi-envelope"></i>brunokremer022@gmail.com</small>|
              <small class="card-text"><i style="padding: 5px;" class="bi bi-telephone-fill"></i>+55 (47) 9 99033958</small>
            </div>
          </div>
        </div>

        <div class="col mb-4">
            <div class="card">
              <div class="media m-0"  style="border-bottom: 1px solid #ccc; padding: 10px;">
                  <div class="d-flex mr-3">               
                      <a href="#"><img class="img-fluid rounded-circle" src="{%static 'img/jean.jpg'%}" alt=""></a>              
                  </div>
                  <div class="media-body">
                      <span class="m-0"> <a href="">Jean Carlos Pedroso de França dos Santos</a> </span>
                      <small><p><i class="icon ion-md-time"></i>Desenvolvedor</p></small>
                  </div>
              </div>
              <div class="card-body">
                <small class="card-text"><i style="padding: 5px;" class="bi bi-envelope"></i>Jeancarlossantos12@gmail.com</small>|
                <small class="card-text"><i style="padding: 5px;" class="bi bi-telephone-fill"></i>+55 (47) 9 9214-5877</small>
              </div>
            </div>
          </div>

        <div class="col mb-4">
            <div class="card">
              <div class="media m-0"  style="border-bottom: 1px solid #ccc; padding: 10px;">
                  <div class="d-flex mr-3">               
                      <a href="#"><img class="img-fluid rounded-circle" src="{%static 'img/luan.jpg'%}" alt=""></a>              
                  </div>
                  <div class="media-body">
                      <span class="m-0"> <a href="">Luan Gabriel Fausto Pereira</a> </span>
                      <small><p><i class="icon ion-md-time"></i>Desenvolvedor</p></small>
                  </div>
              </div>
              <div class="card-body">
                <small class="card-text"><i style="padding: 5px;" class="bi bi-envelope"></i>luangabrielfaustonobrac@gmail.com</small>|
                <small class="card-text"><i style="padding: 5px;" class="bi bi-telephone-fill"></i>+55 (47) 9 9154-3131</small>
              </div>
            </div>
          </div>

        <div class="col mb-4">
            <div class="card">
              <div class="media m-0"  style="border-bottom: 1px solid #ccc; padding: 10px;">
                  <div class="d-flex mr-3">               
                      <a href="#"><img class="img-fluid rounded-circle" src="{%static 'img/evanildo.jpg'%}" alt=""></a>              
                  </div>
                  <div class="media-body">
                      <span class="m-0"> <a href="">Evanildo Batista</a> </span>
                      <small><p><i class="icon ion-md-time"></i>Desenvolvedor</p></small>
                  </div>
              </div>
              <div class="card-body">
                <small class="card-text"><i style="padding: 5px;" class="bi bi-envelope"></i>niko.batista@hotmail.com</small>|
                <small class="card-text"><i style="padding: 5px;" class="bi bi-telephone-fill"></i>+55 (47) 9 9925-2598</small>
              </div>
            </div>
          </div>
        
      </div>
</div>





{%endblock%}