{% extends "base.html" %} {% load static %} {% block title %}Infocode | Home{% endblock %} {% block main %}

<div class="container-sm text-center" style="margin-top: 15px">
    <!-- Alerta para rede social -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Cadastre-se agora na nossa
        <a href="{% url 'usuarios:cadastro'%}"><strong>Rede Social</strong></a><span> ou </span><a href="{% url 'login' %}"><strong>Faça Login</strong></a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <!-- Botões de indicação -->
    <div class="
    d-inline-flex
    list-group-horizontal-sm
      justify-content-center
    list-group
      btn-group
      categorias
      container-sm
    " role="group">

        {% for cat in categoria %}
        <form id="searchForm" class="
        categorias
        d-flex
        justify-content-center
        list-group list-group-horizontal
        align-items-center
        form-inline
      " action="" method="get">
            <ul class="list-group list-group-horizontal-sm align-items-center" style="display: inline-block">
                <li class="nav-link align-items-center">
                    <button type="submit" name="cat" role="group" value="{{cat}}" class="btn-group align-items-center btn-sm btn btn-outline-success">
            {{cat.categoria}}
          </button>
                </li>
            </ul>
        </form>
        {% endfor %}
        <!-- <li class="nav-link align-items-center">
            <a class="btn-sm btn btn-outline-success" href="{% url 'main:indicacao'%}">Indicações</a>
        </li> -->
    </div>
</div>

<!-- Loop para mostrar os posts -->
<div class="container-sm">
    {%for post in page_obj%}
    <div class="card mb-6" style="margin-top: 50px">
        <div class="row no-gutters">
            <div class="col-md-5">
                {% if post.foto %}
                <img class="img-fluid img-thumbnail posts" src="{{post.foto.url}}" alt="..." /> {%endif%}
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{post.titulo}}</h5>
                    {% if post.subtitulo %}
                    <p class="card-text font-weight-light">
                        <small>{{post.subtitulo|truncatewords:19|linebreaks}}</small>
                    </p>
                    {%endif%}
                    <p class="card-text">
                        {{post.conteúdo|truncatewords:20|linebreaks}}
                        <span><a href="{% url 'main:post_detail' post.id %}">Ver mais..</a></span>
                    </p>
                    <p class="card-text font-italic">
                        <small class="text-muted">Criado por {{post.criado_por}}, em {{post.criado_em}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Páginação -->
<div class="pagination container-sm" style="margin-top: 25px; text-align: center">
    <div class="text-center">
        <p class="step-links align-items-center">
            {% if page_obj.has_previous %}
            <a class="text-center btn btn-outline-success" href="?page={{ page_obj.previous_page_number }}"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg></a> {% endif %}
            <span class="text-center btn current btn-outline-success">
        {{ page_obj.number }}
      </span> {% if page_obj.has_next %}
            <a class="btn-outline-success btn" href="?page={{ page_obj.next_page_number }}"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg></a> {% endif %}
        </p>
    </div>
</div>

<!-- Sobre os integrantes do projeto, feito independente do Django -->

<div class="container-lg align-items-center" id="sobre" style="margin-top: 45px; border-top: 1px solid #010139">
    <h1 class="text-center">INTEGRANTES DO PROJETO</h1>
    <div class="d-flex justify-content-center row align-self-center" style="margin-top: 15px; min-height: 350px">
        <!-- Card Antônio -->
        <div class="card col-sm align-items-center" style="width: 18rem; border: none">
            <img class="card-img-top" src="{% static 'img/antonio.jfif' %}" alt="Imagem de capa do card" style="width: 90px; height: 90px; border-radius: 50%" />
            <div class="card-body">
                <p class="card-text text-center font-italic">
                    "Minha experiência com a criação deste projeto foi incrível, pude colocar minhas habilidades em prática e aprimorar meus conhecimentos."
                </p>
                <h5 class="card-title text-center font-weight-light">
                    Antônio Bruno K. Lamim
                </h5>
                <p class="card-text text-center font-weight-light">Front-end</p>
                <div class="align-items-center">
                    <p class="text-center">
                        <a href=""><i class="bi bi-linkedin"></i></a>
                        <a href=""><i class="bi bi-github"></i></a>
                    </p>
                </div>
                <!--svg-->
            </div>
            <!--Card-body-->
        </div>
        <!--Antonio - Card-->

        <!-- Card Evanildo -->
        <div class="card col-sm align-items-center" style="width: 18rem; border: none">
            <img class="card-img-top" src="{% static 'img/evanildo.jpg' %}" alt="Imagem de capa do card" style="width: 90px; height: 90px; border-radius: 50%" />
            <div class="card-body">
                <p class="card-text text-center font-italic">
                    "Esse projeto foi essencial para eu dar meus primeiros passos na area de programação, foi uma experiência muito gratificante que tive com essa equipe maravilhosa"
                </p>
                <h5 class="card-title text-center font-weight-light">
                    Evanildo Batista
                </h5>
                <p class="card-text text-center font-weight-light">Banco de Dados</p>
                <div class="align-items-center">
                    <p class="text-center">
                        <a href=""><i class="bi bi-linkedin"></i></a>
                        <a href=""><i class="bi bi-github"></i></a>
                    </p>
                </div>
                <!--svg-->
            </div>
            <!--Card-body-->
        </div>
        <!--Evanildo - Card-->

        <!-- Card Jean -->
        <div class="card col-sm align-items-center" style="width: 18rem; border: none">
            <img class="card-img-top" src="{% static 'img/jean.jpg' %}" alt="Imagem de capa do card" style="width: 90px; height: 90px; border-radius: 50%" />
            <div class="card-body">
                <p class="card-text text-center font-italic">
                    "Com esse projeto, dei meus primeiros passos no mundo da programação, e foi fantástico poder se utilizar dessa troca de conhecimento com essa equipe incrível."
                </p>
                <h5 class="card-title text-center font-weight-light">
                    Jean Carlos P. França
                </h5>
                <p class="card-text text-center font-weight-light">Front-end</p>
                <div class="align-items-center">
                    <p class="text-center">
                        <a href=""><i class="bi bi-linkedin"></i></a>
                        <a href=""><i class="bi bi-github"></i></a>
                    </p>
                </div>
                <!--svg-->
            </div>
            <!--Card-body-->
        </div>
        <!--Jean - Card-->

        <!-- Card Luan -->
        <div class="card col-sm align-items-center" style="width: 18rem; border: none">
            <img class="card-img-top" src="{% static 'img/luan.jpg' %}" alt="Imagem de capa do card" style="width: 90px; height: 90px; border-radius: 50%" />
            <div class="card-body">
                <p class="card-text text-center font-italic">
                    "Com esse projeto, inicio na programação, pretendendo me profissionalizar ainda mais e obter cada vez mais conhecimento nessa área incrível que é a programação."
                </p>
                <h5 class="card-title text-center font-weight-light">
                    Luan Gabriel F. Pereira
                </h5>
                <p class="card-text text-center font-weight-light">
                    Documentação e Conteúdo
                </p>
                <div class="align-items-center">
                    <p class="text-center">
                        <a href=""><i class="bi bi-linkedin"></i></a>
                        <a href=""><i class="bi bi-github"></i></a>
                    </p>
                </div>
                <!--svg-->
            </div>
            <!--Card-body-->
        </div>
        <!--Luan - Card-->
    </div>
</div>
  
{% endblock %}