{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block title %}Infocode | Indicações | {{indicacao.titulo}}{% endblock %} {% block main %}
<!-- Indicação -->
<div class="container">
    <h1 class="text-center" style="margin-top: 25px;">{{indicacao.titulo}}</h1>
    <div class="row" style="margin-top: 25px; padding: 5%;">
        <div class="">
            {% if indicacao.foto %}
            <img src="{{indicacao.foto.url}}" class="img-fluid img-thumbnail" alt="" srcset="" style="margin-top: 20px;" > {%endif%}
        </div>
        <div class="">
            <p class="card-text">{{indicacao.sinopse|linebreaks}}</p>
            <p class="card-text">Autor: {{indicacao.autor}}</p>
            <p class="card-text">Você pode adquirir <a class="stretched-link text-success" href="{{indicacao.link}}">clicando aqui  </a></p>
        </div>
    </div>
</div>
{% endblock %} {% block content %} {% endblock %}