{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{post.titulo}}{% endblock %}

{% block main %}
<!-- Post -->
<div class="container">
    <h1 class="text-center">{{post.titulo}}</h1>
    {% if post.subtitulo %}
        <h6 class="text-center">{{post.subtitulo}}</h6>
    {%endif%}
    {% if post.foto %}
        <img src="{{post.foto.url}}" class='img-fluid' alt="" srcset="" style="width: 1100px; height: 700px;">
    {%endif%}
    
    <p class="card-text">{{post.conteúdo|linebreaks}}</p>
</div>      
{% endblock %}
{%block content%}

<!-- Form de Comentário -->
<div class="container">
	<h1>Faça um comentário</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-8">
                {{ form.interacao|as_crispy_field }}
            </div>
            <div class="form-group col-md-8">
                {{ form.usuario|as_crispy_field }}
            </div>
          <div class="form-group col-md-8">
            {{ form.email|as_crispy_field }}
          </div>
          <div class="form-group col-md-8">
            {{ form.comentario|as_crispy_field }}
          </div>
        </div>
        <p><input  class="btn btn-success"type="submit" value="Salvar"></p>
    </form>
</div>


<!-- Comentarios -->
<h1 class="container-sm">{{qtde}} Comentário </h1>
<div class="card container-sm " >    
    {%for comentario in comentarios%}
      {% if comentarios %}
        <div class="card-body">
          <h5 class="card-title">{{comentario.usuario}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{comentario.data}}</h6>
          <p style="border-bottom: 1px solid #ccc;" class="card-text">{{comentario.comentario}}</p>
        </div>
      {%else%}
        <h1>Não tem comentários</h1>
      {%endif%}
    {%endfor%}
</div>


<div class="container">
    <button type="button" class="btn btn-primary">
     <i class="fa fa-google"></i>
     <a class="white" href="{% url 'social:begin' 'google-oauth2' %}">
        Login com Google
     </a>
    </button>
</div>

<button type="button" class="btn btn-primary">
    <i class="fa fa-facebook"></i>
    <a class="white" href="{% url 'social:begin' 'facebook' %}">
        Login com Facebook
    </a>
</button>

{% endblock %}

