{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{post.titulo}}{% endblock %}

{% block main %}
<!-- Post -->
<div class="container">
    <h1 class="text-center">{{post.titulo}}</h1>
    {% if post.subtitulo %}
        <h6 class="text-center">{{post.subtitulo}}</h6>
    {%endif%}
    {% if post.foto %}
        <img src="{{post.foto.url}}" class='img-fluid' alt="" srcset="" style="width: 1100px; height: 700px;">
    {%endif%}
    
    <p class="card-text">{{post.conteúdo|linebreaks}}</p>
</div>      
{% endblock %}
{%block content%}
{% if request.user.is_authenticated %}
<div class="container">
  <form action="{% url 'main:curtir_post' %}" method='POST'>
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{post.id}}">
    {% if user not in post.curtidas.all %}
    <a href=""><button  class="btn btn-outline-success " type="submit"><i class="bi bi-heart"></i></button></a>
    {% else %}
    <a  href=""><button type="submit" class=" btn-group align-items-center btn-sm btn btn-outline-success">Não Gostei</button></a>
    {% endif %}
  </form>
  <strong>{{post.curtidas.all.count}} Curtida{{post.curtidas.all.count|pluralize:"s"}} </strong>
</div>  
<!-- Form de Comentário -->
<div class="container">
	<h1>Faça um comentário</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-8">
            {{ form.comentario|as_crispy_field }}
          </div>
        </div>
        <p><input  class="btn btn-success"type="submit" value="Salvar"></p>
    </form>
</div>
{% endif %}

<!-- Comentarios -->
{% if comentarios %}
<h1 class="container-sm">{{qtde}} Comentário </h1>
<div class="card container-sm " >    
    {%for comentario in comentarios%}
      
        <div class="card-body">
          <h5 class="card-title">{{comentario.usuario}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{comentario.data}}</h6>
          <p style="border-bottom: 1px solid #ccc;" class="card-text">{{comentario.comentario}}</p>
        </div>
      
    {%endfor%}
    {%else%}
        <h1>Não tem comentários</h1>
      {%endif%}
  </div>

<div class="container" style="margin-top: 25px;">
     <i class="fa fa-google"></i>
     <a class="btn btn-success" href="{% url 'social-auth:begin' 'google-oauth2' %}">
        Login com Google
     </a>


    <i class="fa fa-facebook"></i>
    <a class="btn btn-success" href="{% url 'social-auth:begin' 'facebook' %}">
        Login com Facebook
    </a>

</div>

{% endblock %}

