{% extends "base.html" %}
{% load static %}


{% block title %}{{post.categoria}}{% endblock %}

{%block  main%}

<div class="container">
    
    <div class="card mb-6" style=" margin-top: 50px;">
        <div class="row no-gutters">
            <div class="col-md-4">
            {%if post.foto%}
                <img class="img-thumbnail" src="{{post.foto.url}}" alt="..." >
            {%endif%}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">{{post.titulo}}</h5>
                <p class="card-text font-weight-light"> <small>{{post.subtitulo}}</small> </p>
                <p class="card-text">{{post.conteúdo|truncatewords:20|linebreaks}} <a href="{% url 'main:post_detail' post.id %}">Ver mais..</a></p>
                <p class="card-text font-italic"><small class="text-muted">Criado por {{post.criado_por}}, em {{post.criado_em}}</small></p>
              </div>
            </div>
        </div>
    </div>
    
</div>
{%endblock%}