{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block main %}

<div class="container">

    
    {%for post in page_obj%}

    <div class="card mb-6" style=" margin-top: 50px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{post.foto.url}}" alt="..." >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{post.titulo}}</h5>
              <p class="card-text font-weight-light"> <small>{{post.subtitulo}}</small> </p>
              <p class="card-text">{{post.conteúdo|truncatewords:20|linebreaks}}</p>
              <p class="card-text font-italic"><small class="text-muted">Criado por {{post.criado_por}}, em {{post.criado_em}}</small></p>
            </div>
          </div>
        </div>
      </div>
    
    {% endfor %}

</div>




<div class="pagination">
    <span class="step-links text-center">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
        {% endif %}
    </span>
</div>
{% endblock %}


  