{% extends "base.html" %}


{% block title %}Home{% endblock %}

{% block main %}

{% for post in post %}

<ul class="list-group list-group-horizontal-sm" style="display: inline-block;">
  <li class="nav-link"> <a class="pesquisa" style="color: #010139;" href="#">{{post.conteudo}}</a> </li>
  
</ul>


  {% endfor %}

{%for post in post%}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.titulo}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}


{% endblock %}
    <!-- <h1>Blog</h1>
    <ul>
       
    </ul> -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    