{% extends "base.html" %}
{% load static %}

{% block title %}{{post.titulo}}{% endblock %}

{% block main %}



<div class="container">
    <h1 class="text-center">{{post.titulo}}</h1>
    {% if post.subtitulo %}
        <h6 class="text-center">{{post.subtitulo}}</h6>
    {%endif%}
    {% if post.foto %}
        <img src="{{post.foto.url}}" class='img-fluid' alt="" srcset="" style="width: 1100px; height: 700px;">
    {%endif%}
    
    <p class="card-text">{{post.conteúdo|linebreaks}}</p>
</div>



         
{% endblock %}