{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{post.titulo}}{% endblock %}

{% block main %}



<div class="container">
    <h1 class="text-center">{{post.titulo}}</h1>
    {% if post.subtitulo %}
        <h6 class="text-center">{{post.subtitulo}}</h6>
    {%endif%}
    {% if post.foto %}
        <img src="{{post.foto.url}}" class='img-fluid' alt="" srcset="" style="width: 1100px; height: 700px;">
    {%endif%}
    
    <p class="card-text">{{post.conteúdo|linebreaks}}</p>
</div>




         
{% endblock %}

<!-- {% block content %}
<div class="container">
	<h1>Faça um comentário</h1>
	
	<form method="POST" enctype="multpart/form-data">
		{{ form|crispy }}
		<textarea name="" id="" cols="30" rows="10"></textarea>
    	{% csrf_token %}
		<p><input class="btn btn-primary" type="submit" value="Salvar alterações"></p>
	</form>
</div>
{% endblock %} -->