{% extends "base_accounts.html" %}
{% load crispy_forms_tags %}

{% block title %}Cadastro{% endblock %}

{% block main %}

<div class="card w-50 border-success form container-sm">
    <h5 class="card-title" style="padding:5px">Cadastre-se</h5>
    <div style="padding:8px ;" class="login-form">
      <form method="POST" action="">
        {% csrf_token %}
        <p class="formulario">{{form|crispy}}</p>
       
        <p><input  class="btn btn-primary"type="submit" value="Salvar"></p>
      </form>
    </div>
  </div>
    
<!-- <div class="container">
    <div class="text-center">
        
        <form action="" method="POST"> 
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Cadastrar</button>
            </div>
            
           </form>
    </div>
     -->
<!-- </div> -->



{% endblock %}