{% extends 'base_accounts.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{%block content%}
{%endblock%}

{% block main %}
<div class="card w-50 border-success form container-sm">
    <h5 class="card-title" style="padding:5px">Login</h5>
    <div style="padding:8px ;" class="login-form">
      <form method="POST" action="">
        {% csrf_token %}
        <p class="formulario">{{form|crispy}}</p>
        <p> Esqueceu sua senha? <a class="text-success"  href = "{% url 'password_reset_done' %}" > Redefinir senha </a> </p>
        <p>Não tem conta? <a class="text-success" href="{% url 'usuarios:cadastro' %}">Criar uma conta</a></p>
        <p><input  class="btn btn-success"type="submit" value="Login"></p>
      </form>
    </div>
  </div>


{% endblock %}