{% extends 'base_social.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card w-50 border-success form container-sm">
    <h5 class="card-title" style="padding:5px">Login</h5>
    <div style="padding:8px ;" class="login-form">
      <form method="POST" action="">
        {% csrf_token %}
        <p class="formulario">{{form|crispy}}</p>
        <p> <a  href = "{% url 'password_reset_done' %}" > Redefinir senha </a> </p>
        <p><input  class="btn btn-primary"type="submit" value="Login"></p>
      </form>
    </div>
  </div>


{% endblock %}