{% extends 'base_accounts.html' %} {% load crispy_forms_tags %} {% block title%} Esqueceu sua senha? {% endblock%} {% block main%}

<div class="card w-50 border-success form container-sm">
    <h5 class="card-title" style="padding:5px">Esqueceu sua senha? </h5>
    <p> Digite seu endereço de e-mail abaixo e enviaremos instruções para configurar um novo. </p>
    <div style="padding:8px ;" class="login-form">
        <form method="POST" action="">
            {% csrf_token %}
            <p class="formulario">{{form|crispy}}</p>

            <input class="btn btn-success" type="submit" value="Envie-me instruções!">
        </form>
    </div>
</div>


{% endblock%}